[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
ignore=.venv
min-public-methods=0
extension-pkg-whitelist=pydantic
good-names=id,i
max-args = 15
[DESIGN]
max-attributes=12
[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
